plugins/certificates/storage/certificates/*
!plugins/certificates/storage/certificates/.htaccess
!plugins/certificates/storage/certificates/index.html
plugins/certificates/storage/certificate-assets/*
!plugins/certificates/storage/certificate-assets/.htaccess
!plugins/certificates/storage/certificate-assets/index.html
plugins/certificates/storage/data/
*.sqlite
*.tmp
